<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/menulayout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <RelativeLayout
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:id="@+id/content_frame"
        android:animateLayoutChanges="true"
        android:background="#ff7BA863">
        <RelativeLayout
            android:id="@+id/master"
            android:layout_height="wrap_content"
            android:layout_width="fill_parent">
            <include
                layout="@layout/Master"
                android:layout_height="wrap_content"
                android:layout_width="fill_parent" />
        </RelativeLayout>
        <ScrollView
            android:layout_width="fill_parent"
            android:id="@+id/opscroller"
            android:paddingTop="0dp"
            android:layout_below="@id/master"
            android:layout_height="fill_parent">
            <RelativeLayout
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:layout_alignParentRight="true"
                android:layout_marginTop="10dp"
                android:layout_marginBottom="10dp"
                android:id="@+id/opstuff">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="fill_parent"
                    android:animateLayoutChanges="true"
                    android:layout_height="wrap_content">
                    <LinearLayout
                        android:id="@+id/opWAlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content" />
                    <LinearLayout
                        android:id="@+id/opESlayer"
                        android:layout_width="fill_parent"
                        android:layout_height="fill_parent">
                        <include
                            layout="@layout/OPentitySearch"
                            android:layout_height="fill_parent"
                            android:layout_width="fill_parent" />
                    </LinearLayout>
                    <LinearLayout
                        android:id="@+id/opLOPlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content" />
                    <LinearLayout
                        android:id="@+id/opVOPlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="fill_parent">
                        <include
                            layout="@layout/OPvoucherSearch"
                            android:layout_height="wrap_content"
                            android:layout_width="fill_parent" />
                    </LinearLayout>
                    <LinearLayout
                        android:id="@+id/opVoucherlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content" />
                    <LinearLayout
                        android:id="@+id/opHMOlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content" />
                    <LinearLayout
                        android:id="@+id/opResetlayer"
                        android:visibility="gone"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content" />
                </LinearLayout>
            </RelativeLayout>
        </ScrollView>
    </RelativeLayout>
    <ListView
        android:id="@+id/left_drawer"
        android:layout_width="240dp"
        android:layout_height="match_parent"
        android:layout_gravity="start"
        android:choiceMode="singleChoice"
        android:divider="@android:color/transparent"
        android:dividerHeight="0dp"
        android:background="#111111" />
</android.support.v4.widget.DrawerLayout>